backports.zoneinfo==0.2.1
beautifulsoup4==4.11.2
cffi==1.15.1
chardet==5.2.0
colorclass==2.2.2
compressed-rtf==1.0.6
cryptography==44.0.1
easygui==0.98.3
ebcdic==1.1.1
extract-msg==0.39.2
IMAPClient==2.3.1
lark-parser==0.12.0
msoffcrypto-tool==5.1.0
olefile==0.46
oletools==0.60.2
pcodedmp==1.2.6
pycparser==2.21
pyparsing==3.1.4
pytz-deprecation-shim==0.1.0.post0
red-black-tree-mod==1.20
RTFDE==0.0.2
six==1.17.0
soupsieve==2.4.1
tzdata==2025.1
tzlocal==4.2
